@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

.swal2-popup {
  border-radius: 20px !important;
  font-family: 'Roboto', sans-serif !important;
}

.swal2-title {
  font-family: 'Roboto', sans-serif !important;
}

.swal2-content {
  font-family: 'Roboto', sans-serif !important;
}

.swal2-styled.swal2-confirm {
  background-color: #424242 !important;
  border-radius: 10px !important;
  font-family: 'Roboto', sans-serif !important;
}

.swal2-styled.swal2-cancel {
  border-radius: 10px !important;
  font-family: 'Roboto', sans-serif !important;
}