.add-button {
  border-radius: 8px;
  margin: 10px;
}

.table-card {
  margin-top: 20px;
  border-radius: 20px !important;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1) !important;
}

.table {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}